body {
/* adding this section per guide from:   
https://www.reddit.com/r/ObsidianMD/comments/18bas4v/how_can_i_implement_a_light_and_dark_mode/?sort=old

from: dehydratedbruv: you're supposed to add this inside style/custom-style.css as well so that the script finds that floating point :), letting it out here for the bois
    */
    
#floating-control {
position: fixed;
color: var(--link-color);
bottom: 1vmax;
right: 1vmax;
font-size: 24px;
z-index: 999999;
display: flex;
flex-direction: row;
justify-content: flex-end;
gap: 10px;
.svg-icon,
i {
cursor: pointer;
height: 24px;
width: auto;
}
#theme-switch {
.light {
display: none;
}
.dark {
display: none;
}
.auto {
display: none;
}
}
#theme-switch.light {
.light {
display: inline;
}
}
#theme-switch.dark {
.dark {
display: inline;
}
}
#theme-switch.auto {
.auto {
display: inline;
}
}
}

/*** code suggested by chatgpt 3.5 (free) 20240409 - 
    commented out because it had no effect
    
.theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.theme-toggle button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
  outline: none;
}

.theme-toggle .light-theme-icon {
  color: #fff; 
}

.theme-toggle .dark-theme-icon {
  color: #000; 
}

end of chatgpt code 20240409 ***/
    
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
